form.create-note {
  position: relative;
  margin: 30px auto 20px auto;
  padding: 15px;
  width: 480px;
  border-radius: 7px;
  box-shadow: 0px 1px 5px 0px rgba(53, 114, 102, 1);
}

form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  resize: none;
  background-color: var(--midnight-green);
  color: var(--white);
}

form.create-note input::placeholder,
form.create-note textarea::placeholder {
  color: var(--white);
}

button.create-note__button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background-color: var(--cambridge-blue);
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0px 1px 5px 0px rgba(163, 187, 173, 1);
  cursor: pointer;
  outline: none;
}
