@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--midnight-green);
  color: var(--white);
}

:root {
  --midnight-green: #0e3b43;
  --myrtle-green: #357266;
  --cambridge-blue: #a3bbad;
  --white: #fff;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--midnight-green);
  border-radius: 7px;
}
